version: '2'
services:
  salt:
    image: salt/syndic
    hostname: salt
    volumes:
      - ./srv/salt/:/srv/local/salt:ro
      - ./srv/pillar/:/srv/local/pillar:ro
    environment:
      - SALT_MASTER_ENABLE=1

  syndic:
    image: salt/syndic
    hostname: syndic

  minion1:
    image: salt/syndic
    hostname: minion1
    environment:
      - SALT_MASTER=syndic

  minion2:
    image: salt/syndic
    hostname: minion2
    environment:
      - SALT_MASTER=syndic

  minion3:
    image: salt/syndic
    hostname: minion3

  minion4:
    image: salt/syndic
    hostname: minion4
